<div class="event-setup h-100">
  <div class="row h-100">
    <div class="col no-gutters">
      <div id="map"></div>
    </div>
  </div>
  <!--div class="row">
    <div class="card col-4 m-2" v-for="(venue, venueIndex) in venues">
      <div class="card-body">
        <h2 class="card-title">{{venueIndex+1}}. {{venue.name}}</h2>
        <p class="card-text"><small>{{venue.rating}} {{venue.vicinity}}</small></p>
      </div>
    </div>
  </div-->
</div>

<!-- https://stackoverflow.com/questions/9614258/how-to-get-20-result-from-google-places-api -->
