.event-setup{
  position: relative;

  #map{
    height: 100%;
  }


  /* .venue-list{ */
  /*   position:fixed; */
  /*   bottom: 0; */
  /*   width: 100%; */
  /*   overflow-x: scroll; */
  /*   white-space: nowrap; */

  /*   > div{ */
  /*     display: inline-block; */
  /*   } */
  /* } */

  /* h2{ */
  /*   font-size: 14px; */
  /* } */

  /* .venue-card{ */
  /*   background: white; */
  /*   border-right: 1px solid #555; */
  /* } */
}
