<div class="container-fluid">
  <header class="row">
    <nav class="col navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Topsy</a>
    </nav>
  </header>
  <main role="main">
    <router-view></router-view>
  </main>
</div>
