<div class="events row p-3">
  <div class="col-4" v-for="(event, eventIndex) in events">
    <div class="card m-2">
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <!-- {{event.name}} -->
      <div class="card-body">
        <!-- <h4 class="card-title">{{event.name}}</h4> -->
        <h4 class="card-title">Title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <!-- <router-link :to="{ name: 'event-setup', params: { eventId: eventIndex}  }"  class="btn btn-primary">Go somewhere</router-link> -->
      </div>
    </div>
  </div>
</div>


<!-- Icon Location: https://material.io/icons/#ic_room -->
<!-- <router-link :to="{ name: 'event-setup'}" class="event-setup btn btn-primary btn-lg active" role="button" aria-pressed="true">New Event</router-link> -->
